.sliderImage{
    height: 100%;
    margin:auto;
    background-color:transparent

}

.carouselItemedit{
    text-align: center;
}

.carousel{
    width: 100%;
    box-shadow: none;
}

.carousel>*{
    background-color: transparent !important;
}

.carousel>span{
    color:black
}

