

.jumbotron{
	padding: 0;
	width: 100%;
	text-align: center;
	position: relative;
	top:0;
	left:0
}

.jumbotronImg{
	position: relative;
	top: 0;
	left: 0;
}

.jumbotronButton{
	width: 25%;
	position: absolute;
	z-index: 999;
	bottom: 15%;
	right: 38%;
}