.carousel{
    width:50%;
}
.carouselItem{
    text-align: center;
}
.carouselImg{
    height: 100%;
}

.buttonCart{

    color: rgba(227,174,38,1);
    color: -moz-linear-gradient(top, rgba(227,174,38,1) 0%, rgba(238,242,123,1) 100%);
    color: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,174,38,1)), color-stop(100%, rgba(238,242,123,1)));
    color: -webkit-linear-gradient(top, rgba(227,174,38,1) 0%, rgba(238,242,123,1) 100%);
    color: -o-linear-gradient(top, rgba(227,174,38,1) 0%, rgba(238,242,123,1) 100%);
    color: -ms-linear-gradient(top, rgba(227,174,38,1) 0%, rgba(238,242,123,1) 100%);
    color: linear-gradient(to bottom, rgba(227,174,38,1) 0%, rgba(238,242,123,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3ae26', endColorstr='#eef27b', GradientType=0);

    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(48,48,48,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(48,48,48,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(48,48,48,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(48,48,48,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(48,48,48,1) 100%);
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(48,48,48,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#303030', GradientType=1 );
    outline:none;
    border:none;
}




