.navbarLink{
    color: white !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.numeroCarrito{
    position: absolute;
    left: 50%;
    background: rgb(255, 230, 0);
    width: 20px;
    border-radius: 20px;
    text-align: center;
    right: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.dropdownWhite, .dropdownWhite>*{
    color:white;
}

.dropdownWhite>*:hover{
    color:white;
}