a:hover{
    text-decoration: none !important;
}
p{
    margin: 0;
}
.card-img{
    height: 150px;
    min-width: 100%;
    background-color: white;
    margin: 0px auto;
    object-fit: contain;
}

.hr{
    margin:1px;
}
.titulo-producto{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card{
    transition: all 0.5s;
    color:black;
    height: fit-content;
    text-align:center;
    height: 300px;
    width: 250px;
}

.btn-buy{
    background-color:red;
    padding:0px;
    width:50%;
    height: 70px;
    margin:auto;
}

