
a:hover{
    text-decoration: none !important;
}
p{
    margin: 0;
}
.card-img{
    max-height: 120px;
    min-height: 120px;
    object-fit: contain;
    background-color: white;
}
.product-card{
    transition: all 0.5s;
    display: flex;
    flex-direction: row;
    color:black;
}
.product-card:hover{
    transform: scale(1.05);
}
.product-card:nth-child(n):hover{
    text-decoration: none;
}
.tituloProducto{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}